/* General Styles */
body {
  color: #1a1b1f;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Intro Section */
.intro-section {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.intro-container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
}

.intro-text {
  width: 100%;
}

.tiny {
  font-family: 'Courier New', Courier, monospace;
  opacity: 80%;
  font-size: 20px;
}

.changing-text {
  color: #f5f5fa;
  background-color: #1a1b1f;
  padding: 0 10px;
}

.name {
  font-size: 6vw;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  white-space: normal;
  word-break: break-word;
  text-align: left;
}

.description {
  font-size: 20px;
  font-weight: 320;
  position: absolute;
  bottom: 20px;
  max-width: 500px;
  padding-bottom: 50px;
  width: 100%;
  white-space: normal;
  word-break: break-word;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .intro-container {
    width: 80%;
    padding: 0px;
    align-items: flex-start;
  }

  .name {
    font-size: 7.8vw;
    text-align: left;
    white-space: normal;
    word-break: break-word;
  }

  .description {
    font-size: 18px;
    text-align: left;
    white-space: normal;
    word-break: break-word;
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 8vw;
    white-space: normal;
    text-align: left;
  }

  .description {
    font-size: 3vw;
    padding: 0 5px;
    white-space: normal;
    word-break: break-word;
    max-width: 70%;
    text-align: left;
  }
}

/* About Section */
.about {
  padding: 70px 8vw 10px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about-photo {
  flex: 1;
  padding: 10px;
  max-width: 435px;
}

.about-photo-img {
  width: 100%;
  height: auto;
}

.about-text-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 600px;
}


.about-text-heading{
  margin: 0 0 15px;
  font-size: 45px;
  font-weight: 400;
}


.about-text-block {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
  opacity: 0.87;
}

.about-text-p {
  margin: 10px 0 14px;
  font-size: 16px;
  font-weight: 350;

}

.abtbubble {
  display: flex; 
  align-items: center; 
  background-color: #f5f5fa;
  color: #3e7058;
  padding: 1px 14px; 
  border-radius: 25px;
  border: 2px solid #3e7058;
  text-align: center;
  font-size: 15px;
  font-weight: 450;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 2px;

}

.abtbubble:hover {
  background-color: #3e7058;
  color: #f5f5fa;
  border: 2px solid #3e7058;
}

.icon {
  margin-right: 5px; 
}

.abtbubble:hover .icon {
  color: #f5f5fa;
  background-color: #3e7058;
}

.about-links {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 991px) {
  .about-wrapper {
    flex-direction: column;
  }

  .about-photo {
    max-width: 100%;
  }

  .about-text-box {
    max-width: 100%;
    padding-left: 0;
    max-width: 80vw; 

  }

  .about-photo-img {
    width: 100%;
    height: auto;
    max-width: 80vw; 
  }
}


/* Projects Section */
.Projects {
  padding: 70px 8vw 50px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.item-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.project-image {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  max-width: 25%;
}

.project-image img {
  width: 100%;
  height: auto;
}

.project-content {
  flex: 2;
  padding: 10px;
  max-width: 70%;
}

.bubble {
  display: inline-blocks;
  background-color: #f5f5fa;
  color: #3e7058;
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid #3e7058;
  text-align: center;
  font-size: 15px;
  font-weight: 450;
  white-space: nowrap;
  text-decoration: none;
  margin-top: 20px;
}

.bubble:hover {
  background-color: #3e7058;
  color: #f5f5fa;
  border: 2px solid #3e7058;
}

.category-bubble {
  display: inline-block;
  background-color: #dddde3;
  color: #1a1b1f;
  padding: 2px 15px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 2px;
  white-space: nowrap;
}

.project-image {
  flex: 1;
  padding: 10px;
  margin-right: 20px;
}

.project-image img {
  width: 100%;
  height: auto;
}

.project-content {
  flex: 3;
  padding: 10px;
}

.project-content h2 {
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 40px;
  color: #1a1b1f;
}

.project-content p {
  margin-bottom: 25px;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 350;
}

@media screen and (max-width: 991px) {
  .Projects {
    padding: 50px 5vw 20px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .item-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project-image,
  .project-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project-image {
    max-width: 100%; 
    padding: 0;
    padding: 30px;
  }

  .project-image img {
    width: 100%;
    height: auto;
  }

  .project-content {
    width: 100%;
    max-width: 80vw; 
    margin: 0 auto; 
    padding-bottom: 50px;
  }

  .project-content h2,
  .project-content h5,
  .project-content p {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }
}

/* Resume Section */
.Resume {
  padding: 70px 8vw 50px;
}

.resbubble {
  display: flex; 
  align-items: center; 
  background-color: #f5f5fa;
  color: #3e7058;
  padding: 8px 14px; 
  border-radius: 25px;
  border: 2px solid #3e7058;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  justify-content: center;
  letter-spacing: 1px;
}

.resbubble:hover {
  background-color: #3e7058;
  color: #f5f5fa;
  border: 2px solid #3e7058;
}

.icon {
  margin-right: 5px; 
}

.resbubble:hover .icon {
  color: #f5f5fa;
  background-color: #3e7058;
}

.your-resume-link {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Section Separator */
.section-separator {
  display: flex;
  align-items: center;
  margin: 40px 0;
  margin-bottom: 70px;
}

.section-separator::before {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
}

.section-title {
  font-family: 'Courier New', Courier, monospace;
  opacity: 80%;
  font-size: 20px;
  margin-right: auto;
}

.section-separator::after {
  content: "";
  flex-grow: 10;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
}

/* Nav Bar Styles */
* {
  margin: 0.5;
  box-sizing: border-box;
  background-color: #f5f5fa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: #f5f5fa;
  opacity: 98%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo img {
  height: 50px;
}

.hamburger.hidden,
.close-button.hidden {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  margin: 0 1rem;
  color: #17171f;
}

.nav-links a:hover {
  color: #3e7058;
  text-decoration: underline;
}

.nav-links li {
  margin: 0 0.5rem;
}

.nav-links .uxui-design-button {
  background-color: #f5f5fa;
  color: #3e7058;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #3e7058;
}

.nav-links .uxui-design-button:hover {
  color: #f5f5fa;
  background-color: #3e7058;
  text-decoration: none;
  border: 2px solid #3e7058;
}

.uxui-design-button{
  font-weight: 500;
}

@media (min-width: 1024px) {
  .hamburger,
  .close-button {
      display: none;
  }
}

@media (max-width: 1024px) {
  .close-button {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2rem;
      cursor: pointer;
  }

  .close-button.hidden {
      display: none;
  }

  .hamburger,
  .close-button {
      position: fixed;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      cursor: pointer;
      z-index: 2;
  }

  .hamburger {
      display: block;
  }

  .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      clip-path: inset(0 0 100% 0);  
      transition: all 0.5s ease-out;
      pointer-events: none;
      z-index: 1;
  }
  
  .nav-links.show-nav {
      clip-path: inset(0); 
      pointer-events: all;
  }
  
  .nav-links li {
      margin: 1rem 0;
  }

  .nav-links .uxui-design-button {
      margin-left: auto;
      margin-right: auto;
  }

  .close-button {
      display: block;
  }

  .close-button.hidden {
      display: none;
  }
}


/* Footer */
.footer {
  background-color: #f5f5fa;
  color: #1a1b1f;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.email-link a {
  color: #1a1b1f;
  text-decoration: none;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;

}

.social-links a {
  color: #3e7058;
  text-decoration: none;
  font-size: 18px;
}

.made-by {
  font-size: 14px;
  opacity: 80%;
  text-align: center;
  color: #1a1b1f;
  font-family: 'Inter', sans-serif;
}
