*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5fa;
}

nav {
    display: flex;
    justify-content: space-between; /* Logo on the left, links on the right */
    align-items: center;
    padding: 10px 0; /* Padding top and bottom */
    font-family: Verdana, Geneva, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5fa;
    z-index: 1000;
}

.logo img {
    height: 50px;
    margin-left: 25px; /* Align logo with intro content padding */
}

.hamburger.hidden,
.close-button.hidden {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 25px; /* Align nav items with intro content padding */
    width: auto; /* Allow the width to be content-based */
}


.nav-links a {
    text-decoration: none;
    margin: 0 1rem;
    color: #17171f;
}

.nav-links a:hover {
    color: #3e7058;
    font-weight: 700;
}

.nav-links li {
    margin: 0 0.5rem;
}


.nav-links .resume-button {
    background-color: #f5f5fa; /* Your button background color */
    color: #3e7058; /* Button text color */
    border-radius: 20px; /* Rounded corners for the button */
    padding: 10px 20px; /* Padding inside the button */
    text-decoration: none;
    transition: all 0.3s ease;
    border: 2px solid #3e7058;
}

.nav-links .resume-button:hover {
    background-color: #3e7058;
    color: #f5f5fa;
    border: 2px solid #3e7058;
    font-weight: normal;
    
}

/* Responsive Styles */

@media (min-width: 568px) {
    .hamburger,
    .close-button {
        display: none;
    }
}

@media (max-width: 568px) {
    .close-button {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-button.hidden {
        display: none;
    }

    .hamburger,
    .close-button {
        position: fixed;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #f5f5fa;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: inset(0 0 100% 0);  
        transition: all 0.5s ease-out;
        pointer-events: none;
        z-index: 1;
    }
    
    .nav-links.show-nav {
        clip-path: inset(0); 
        pointer-events: all;
    }
    

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links .resume-button {
        margin-left: auto;
        margin-right: auto;
    }

    .close-button {
        display: block;
    }

    .close-button.hidden {
        display: none;
    }
}
